<h3>Create new teacher</h3>
<p>
  <a mat-button routerLink="/teacher">
    <b>Back to teachers</b>
  </a>
</p>
<form [formGroup]="TeacherForm" (ngSubmit)="onSubmit(TeacherForm.value)">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Teacher's name</mat-label>
      <input matInput placeholder="Name" formControlName="Name" />
      <!--<mat-hint>Give the teacher a name</mat-hint>
      <mat-error *ngIf="name.invalid">{{ getNameErrorMessage() }}</mat-error>-->
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Teacher's Neptun code</mat-label>
      <input matInput placeholder="Neptun" formControlName="Neptun" />
      <!--<mat-hint>Give the teacher a neptun code</mat-hint>
      <mat-error *ngIf="neptun.invalid">{{
        getNeptunErrorMessage()
      }}</mat-error>-->
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Teachers's Email</mat-label>
      <input matInput placeholder="Email" formControlName="Email" />
      <!--<mat-hint>Give the teacher an eamil adress</mat-hint>
      <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }}</mat-error>-->
    </mat-form-field>
  </div>
  <div>
    <!--<mat-form-field appearance="outline">
      <mat-label>Teachers's Job</mat-label>
      <input matInput placeholder="Job" formControlName="job" />
      <mat-hint>Give the teacher a job</mat-hint>
      <mat-error *ngIf="job.invalid">{{ getJobErrorMessage() }}</mat-error>
    </mat-form-field>-->
    <select formControlName="Job">
      <option value="docens">docens</option>
      <option value="adjunktus">adjunktus</option>
      <option value="ügyvivő_szakértő">ügyvivő_szakértő</option>
      <option value="tanársegéd">tanársegéd</option>
      <option value="egyéb">egyéb</option>
    </select>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Teachers's subject IDs</mat-label>
      <input
        type="text"
        matInput
        placeholder="IDs"
        formControlName="subjectids"
      />
      <!--<mat-hint>Give the teacher some subjects(with id)</mat-hint>
      <mat-error *ngIf="id_list.invalid">{{ getIdsErrorMessage() }}</mat-error>-->
    </mat-form-field>
  </div>
  <button
    mat-raised-button
    color="primary"
    type
    [disabled]="TeacherForm.invalid"
  >
    Create
  </button>
</form>
<p>Form Status: {{ TeacherForm.status }}</p>
