<div style="margin-bottom: 10px">
  <a mat-mini-fab routerLink="/teacher/create" color="primary">
    <div>Add</div>
  </a>
</div>

<div style="margin-bottom: 10px">
  <a mat-mini-fab routerLink="/teacher/list_subject/2" color="primary">
    <div>List</div>
  </a>
</div>

<table mat-table [dataSource]="teacher$" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.Name }}</td>
  </ng-container>

  <ng-container matColumnDef="Neptun">
    <th mat-header-cell *matHeaderCellDef>Neptun</th>
    <td mat-cell *matCellDef="let element">{{ element.Neptun }}</td>
  </ng-container>

  <ng-container matColumnDef="Email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">{{ element.Email }}</td>
  </ng-container>

  <ng-container matColumnDef="Job">
    <th mat-header-cell *matHeaderCellDef>Job</th>
    <td mat-cell *matCellDef="let element">{{ element.Job }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <mat-icon
        aria-hidden="false"
        [routerLink]="['/teacher/edit', element.id]"
        aria-label="Edit"
        >edit</mat-icon
      >
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<router-outlet></router-outlet>
